In [1]:
import spacy

In [2]:
nlp = spacy.load("en_core_web_sm")

In [3]:
doc = nlp("Tesla Inc is going to acquire twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
$45 billion  |  MONEY  |  Monetary values, including unit

In [12]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [9]:
nlp.pipe_labels["ner"]

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

#### **Exercise: 1**

-   Extract all the Geographical (cities, Countries, states) names from a given text

In [17]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [19]:
countries = []
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

    if ent.label_ == "GPE":
        countries.append(ent.text)

Kiran  |  ORG  |  Companies, agencies, institutions, etc.
India  |  GPE  |  Countries, cities, states
Google  |  ORG  |  Companies, agencies, institutions, etc.
Google  |  ORG  |  Companies, agencies, institutions, etc.
Delhi  |  GPE  |  Countries, cities, states
Chaat  |  ORG  |  Companies, agencies, institutions, etc.
Gujarat  |  GPE  |  Countries, cities, states
Dal Dhokli  |  PERSON  |  People, including fictional
Tamilnadu  |  GPE  |  Countries, cities, states
Pongal  |  GPE  |  Countries, cities, states
Andhrapradesh  |  GPE  |  Countries, cities, states
Biryani  |  PERSON  |  People, including fictional
Assam  |  GPE  |  Countries, cities, states
Papaya Khar  |  PERSON  |  People, including fictional
Bihar  |  GPE  |  Countries, cities, states
Litti Chowkha  |  PERSON  |  People, including fictional

In [20]:
countries

['India',
 'Delhi',
 'Gujarat',
 'Tamilnadu',
 'Pongal',
 'Andhrapradesh',
 'Assam',
 'Bihar']

#### Exercise : 2

-   Extract all the birth dates of cricketers in the given Text

In [21]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [23]:
bod = []
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

    if ent.label_ == "DATE":
        bod.append(ent.text)

Sachin Tendulkar  |  PERSON  |  People, including fictional
24 April 1973  |  DATE  |  Absolute or relative dates or periods
Virat Kholi  |  LOC  |  Non-GPE locations, mountain ranges, bodies of water
5 November 1988  |  DATE  |  Absolute or relative dates or periods
Dhoni  |  PERSON  |  People, including fictional
7 July 1981  |  DATE  |  Absolute or relative dates or periods
Ricky  |  PERSON  |  People, including fictional
19 December 1974  |  DATE  |  Absolute or relative dates or periods

In [24]:
bod

['24 April 1973', '5 November 1988', '7 July 1981', '19 December 1974']